<a href="https://colab.research.google.com/github/AkahndPratapSingh136/Machine-Learning/blob/main/_SQLite.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlite3
conn=sqlite3.connect('test.db')
print("Opened database successfully")

Opened database successfully

In [ ]:
conn = sqlite3.connect('test.db')
print("Opened database successfully")
conn.execute('''CREATE TABLE COMPANY
         (ID INT PRIMARY KEY     NOT NULL,
         NAME           TEXT    NOT NULL,
         AGE            INT     NOT NULL,
         ADDRESS        CHAR(50),
         SALARY         REAL);''')
print("Table database successfully")
conn.close()

Opened database successfully
Table database successfully

In [ ]:
import sqlite3
conn=sqlite3.connect('test.db')

In [ ]:
conn.execute("INSERT INTO COMPANY  (ID, NAME, AGE, ADDRESS, SALARY)\
             VALUES(1,'MARKS', 25, 'Calfornia',2000.0)");
conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (2, 'Allen', 25, 'Texas', 15000.00 )");

conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (3, 'Teddy', 23, 'Norway', 20000.00 )");

conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (4, 'Mark', 25, 'Rich-Mond ', 65000.00 )");

conn.commit()
print("Records created successfully")
conn.close()

IntegrityError: ignored

In [ ]:
import numpy as np
arr=np.arange(10,49)

In [ ]:
arr

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44, 45, 46, 47, 48])

In [ ]:
test_list=[2323, 82, 129388, 234, 95]

In [ ]:
import sqlite3
conn=sqlite3.connect('example.db')
cursor=conn.cursor()
cursor.execute("DROP TABLE IF EXISTS EMPLOYEE")
sql='''CREATE TABLE EMPLOYEE(
  FIRST_NAME CHAR(20) NOT NULL,
  LAST_NAME CHAR(20),
  AGE INT, 
  SEX CHAR(1),
  INCOME FLOAT
)'''
cursor.execute(sql)

#Populating the table
cursor.execute('''INSERT INTO EMPLOYEE(
  FIRST_NAME, LAST_NAME, AGE, SEX, INCOME) VALUES
  ('Ramya', 'Rama Priya', 27, 'F', 9000)''')
cursor.execute('''INSERT INTO EMPLOYEE(
  FIRST_NAME, LAST_NAME, AGE, SEX, INCOME) VALUES
  ('Vinay', 'Battacharya', 20, 'M', 6000)''')
cursor.execute('''INSERT INTO EMPLOYEE(
  FIRST_NAME, LAST_NAME, AGE, SEX, INCOME) VALUES
  ('Sharukh', 'Sheik', 25, 'M', 8300)''')
cursor.execute('''INSERT INTO EMPLOYEE(
  FIRST_NAME, LAST_NAME, AGE, SEX, INCOME) VALUES
  ('Sarmista', 'Sharma', 25, 'F', 10000)''')

In [ ]:
cursor.execute("select * from EMPLOYEE")
print(cursor.fetchall)

<built-in method fetchall of sqlite3.Cursor object at 0x7fd6b8c560a0>